@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html{
  height: 100%;
}
body {
  font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
  background: #fff;
  color: #181818;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.swiper-wrapper {
  overflow: visible !important;
}
